.container{
    margin: 0 auto;
    padding: 20px 0;
}
.friendList {
    list-style: none;
    margin:0;
    padding:0;
}
.item {
    width:250px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.12),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 1px;
    display:flex;
    gap: 10px;
    align-items:center;
    margin-bottom:15px;
    padding:8px;
}
.status  {
width:15px;
height:15px;
border-radius:50%;

}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.name {
    font-size:20px;
    font-weight:500;
}