
.transactionHistory {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.12),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width:600px;
    border: none;
    border-collapse: collapse;
    overflow:hidden;
    margin:0 auto;
}
.tableHeader {
    background-color: lightskyblue;
    color:white;
    padding: 10px 0;
    
}
.leftCell  {
    border-right: 1px solid white;
}
.rightCell {
    border-left: 1px solid white;
}
.tableCell {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align:center;
    color:lightslategrey;
    font-size: 12px;
}
.tableRow:nth-child(even) {
    background-color: #f2f2f2;
}